body{
    background-color: black;
    color: white;
    font-size: 1.5em;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-align: center;
    background-color: rgb(104, 35, 23);
}
p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}